.App {
	background-color: #2a9d8f;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	text-align: center;

	align-items: center;
}

.App-header {
	font-size: calc(10px + 5vmin);
	font-weight: bolder;
	text-align: center;
	position: absolute;
	top: calc((100vh - 700px) / 4);
}

.Container {
	display: flex;
	flex-direction: row;
}

.Button {
	height: inherit;
	width: 220px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: calc(9px + 1vmin);
	background-color: #264653;
	color: #fff;
	border: none;
	border-radius: 10px;
	box-shadow: 0 9px #999;
	outline: none;
}

.Button:hover {
	background-color: #1a2f38;
}

.Button:active {
	background-color: #1a2f38;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.ButtonList {
	display: flex;
	flex-direction: column;
	height: 600px;
	justify-content: space-around;
}

.Giraffe {
	width: 600px;
	height: 600px;
}
