.App {
	background-color: #2a9d8f;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-header {
	color: #fff;
	font-weight: bold;
	position: absolute;
	top: 40px;
	font-size: 50px;
}

.Container {
	display: flex;
	flex-direction: row;
}

.Button {
	height: 60px;
	width: 220px;
	margin-left: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
	background-color: #264653;
	color: #fff;
	border: none;
	border-radius: 10px;
	box-shadow: 0 9px #999;
	outline: none;
}

.Button:hover {
	background-color: #1a2f38;
}

.Button:active {
	background-color: #1a2f38;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.ButtonList {
	display: flex;
	flex-direction: column;
}

.Giraffe {
	width: 600px;
	height: 600px;
}
